.borda{
    border: 1px solid red;
}

.centro{
    justify-content: center; 
}

.espaco{
    justify-content: space-around;
}

.fontemenu{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontetitulo{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.fontesubtitulo{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fonte{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.maiscula{
    text-transform: uppercase
}

.semlink{
    text-decoration: none
}

.selecao:hover{
  background-color: lightskyblue;
}

.selecao1:hover{
  background-color: lightgreen;
}

.selecao2:hover{
  background-color: lightyellow;
}

.selecao3:hover{
  background-color: black;
  color: yellow;
  font-size: larger;
}