.borda{
    border: 1px solid red;
}

.centro{
    justify-content: center;
    align-items: center; 
}

.espaco{
    justify-content: space-around;
}



.fontemenu{
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontetitulo{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.fontesubtitulo{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fonte{
  text-transform: capitalize;
  color: blue;
  
}

.fonte1{
  color: black;
  background-color: red;
}

.fonte2{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: capitalize;
  
}


.maiscula{
    text-transform: capitalize;
}

.semlink{
    text-decoration: none;
    color: aliceblue;
  
}

.selecao:hover{
  background-color: lightskyblue;
}

.selecao1:hover{
  background-color: lightgreen;
}

.selecao2:hover{
  background-color: lightyellow;
}

.selecao3:hover{
  background-color: black;
  color: yellow;
  font-size: larger;
}

